<script>
  $(document).ready(function() {
    const sense = document.getElementsByClassName('sense')
    $(sense).click((e) => {
      const bubbleToPop = e.target
      $(bubbleToPop).fadeOut();
    })
  })
</script>
<div class="bg">
  <h1>Name <%= params[:id] %> things you can <%= @sense.label %></h1>
  <% @sensory_details.each do |item| %>
    <div class="sense bubble x1">
      <span class="title"><%= item.content %></span>
    </div>
  <% end %>
  <%= link_to '⬇️', next_button_path %>
<div>
